html {
margin-top: 5%;
background-color: black;
}

div {
width: 50%;
margin-left: 25%;
}

h1 {
font-family: 'Libre Baskerville', serif;
text-transform: capitalize;
}

p {
font-size: 13px;
}

img {
border: 5px solid white;
width: 100%;
}

.text {
color: white;
background-color: black;
text-align: center;
}