/*Group Rule Selectors*/
h1, h2 {
    color: blueviolet;
}

/*Child Selectors*/
.box > p {
    color: firebrick;
}

/*Descendant Selectors*/
.box li {
    color: blue;
}

/*Chaining Selectors*/
li.done {
    color:seagreen;
}

/*Combining Combiners*/
ul p.done{
    font-size: 0.5rem;
}